<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :fullname, :placeholder => 'FULL NAME', :class => 'placeholder' %>
  </div>
  <div class="field">
    <%= f.text_field :email, :VALUE => 'EMAIL' %>
  </div>
  <div class="field">
    <%= f.text_field :repoURL, :VALUE => 'PROJECT REPO' %>
  </div>
  <div class="field">
    <%= f.text_field :projectURL, :VALUE => 'PROJECT URL' %>
  </div>
  <div class="field">
    <%= f.label :OOP %>
    <%= f.number_field :OOP %>
  </div>
  <div class="field">
    <%= f.label :modular %>
    <%= f.number_field :modular %>
  </div>
  <div class="field">
    <%= f.label :stack %>
    <%= f.number_field :stack %>
  </div>
  <div class="field">
    <%= f.label :db %>
    <%= f.number_field :db %>
  </div>
  <div class="field">
    <%= f.label :debugging %>
    <%= f.number_field :debugging %>
  </div>
  <div class="field">
    <%= f.label :problemsolving %>
    <%= f.number_field :problemsolving %>
  </div>
  <div class="field">
    <%= f.label :javascript %>
    <%= f.number_field :javascript %>
  </div>
  <div class="field">
    <%= f.label :HTML %>
    <%= f.number_field :HTML %>
  </div>
  <div class="field">
    <%= f.label :CSS %>
    <%= f.number_field :CSS %>
  </div>
  <div class="field">
    <%= f.label :team %>
    <%= f.number_field :team %>
  </div>
  <div class="field">
    <%= f.label :motivation %>
    <%= f.number_field :motivation %>
  </div>
  <div class="field">
    <%= f.label :communication %>
    <%= f.number_field :communication %>
  </div>
  <div class="field">
    <%= f.label :energy %>
    <%= f.number_field :energy %>
  </div>
  <div class="field">
    <%= f.label :intelligence %>
    <%= f.number_field :intelligence %>
  </div>
  <div class="actions">
    <%= f.submit "Submit My Application" %>
  </div>
<% end %>
