<div class="container">


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row field">
    <div class="col-md-12">
    <%= f.text_field :fullname, :placeholder => 'FULL NAME', :class => 'placeholder' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-12">
    <%= f.text_field :email, :placeholder => 'EMAIL', :class => 'placeholder' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-12">
    <%= f.text_field :repoURL, :placeholder => 'PROJECT REPO', :class => 'placeholder' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-12">
      <%= f.text_field :projectURL, :placeholder => 'PROJECT URL', :class => 'placeholder' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      USING BEST PRACTICES FOR OOP
    </div>
    <div class="col-md-2">
      <%= f.number_field :OOP, :class =>'todd' %>
    </div>
  </div>


  <div class="row field">
    <div class="col-md-10">
      MODULAR DEVELOPMENT
    </div>
    <div class="col-md-2">
      <%= f.number_field :modular, :class =>'todd' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      FULL STACK WORKFLOW UNDERSTANDING
    </div>
    <div class="col-md-2">
      <%= f.number_field :stack, :class =>'todd' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      DATABASE KNOWLEDGE
    </div>
    <div class="col-md-2">
      <%= f.number_field :db, :class =>'todd' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      DEBUGGING
    </div>
    <div class="col-md-2">
      <%= f.number_field :debugging, :class =>'todd' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      PROBLEM SOLVING SKILLS
    </div>
    <div class="col-md-2">
      <%= f.number_field :problemsolving, :class =>'todd' %>
   </div>
 </div>

  <div class="row field">
    <div class="col-md-10">
JAVASCRIPT
</div>
    <div class="col-md-2">
      <%= f.number_field :javascript, :class =>'todd' %>
  </div>
</div>

    <div class="row field">
      <div class="col-md-10">
        HTML
      </div>
      <div class="col-md-2">
        <%= f.number_field :HTML, :class =>'todd' %>
      </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
      CSS
   </div>
   <div class="col-md-2">
     <%= f.number_field :CSS, :class =>'todd' %>
   </div>
 </div>

  <div class="row field">
    <div class="col-md-10">
    WORKING ON A TEAM
   </div>
   <div class="col-md-2">
     <%= f.number_field :team, :class =>'todd' %>
   </div>
 </div>


  <div class="row field">
    <div class="col-md-10">
      SELF MOTIVATION
    </div>
    <div class="col-md-2">
      <%= f.number_field :motivation, :class =>'todd' %>
    </div>
  </div>

  <div class="row field">
    <div class="col-md-10">
        COMMUNICATION SKILLS
    </div>
    <div class="col-md-2">
      <%= f.number_field :communication, :class =>'todd' %>
   </div>
 </div>

  <div class="row field">
    <div class="col-md-10">
    YOUR OWN ENERGY LEVEL
   </div>
   <div class="col-md-2">
    <%= f.number_field :energy, :class =>'todd' %>
  </div>
</div>

  <div class="row field">
    <div class="col-md-10">
     INTELLIGENCE
   </div>
   <div class="col-md-2">
      <%= f.number_field :intelligence, :class =>'todd' %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
