<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Repourl:</strong>
  <%= @user.repoURL %>
</p>

<p>
  <strong>Projecturl:</strong>
  <%= @user.projectURL %>
</p>

<p>
  <strong>Oop:</strong>
  <%= @user.OOP %>
</p>

<p>
  <strong>Modular:</strong>
  <%= @user.modular %>
</p>

<p>
  <strong>Stack:</strong>
  <%= @user.stack %>
</p>

<p>
  <strong>Db:</strong>
  <%= @user.db %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @user.debugging %>
</p>

<p>
  <strong>Problemsolving:</strong>
  <%= @user.problemsolving %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @user.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @user.HTML %>
</p>

<p>
  <strong>Css:</strong>
  <%= @user.CSS %>
</p>

<p>
  <strong>Team:</strong>
  <%= @user.team %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @user.motivation %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @user.communication %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @user.energy %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @user.intelligence %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
